{% extends 'layout/application.html' %}

{% block content %}
    <h1>Show percent</h1>
    <br>
    <div class="flex ">
        <div>
            <p>Recency Percent</p>
            {% for k , v in r_percent %} 
                <li>{{ k }} : {{ v }}%</li> 
            {% endfor %} 
        </div>
        <div class="ml-40"> 
            <p>Frequency Percent</p>
            {% for k , v in f_percent %} 
                <li>{{ k }} : {{ v }}%</li> 
            {% endfor %} 
        </div>
        <div class="ml-40">
            <p>Monetary Percent</p>
            {% for k , v in m_percent %} 
                <li>{{ k }} : {{ v }}%</li> 
            {% endfor %} 
        </div>
    </div>
    <br>
    {% for k,v in rfm_data.items() %}
        <p>{{ k }} : {{ v['customers'] }}</p>
    {% endfor %}
    <br>
    {% for k,v in rfm_data.items() %}
        <p>{{ k }} : {{ v }}</p>
    {% endfor %}
{% endblock %}