<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RFM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/output.css') }}">
    <link rel="stylesheet" href="static/style/style.css">
</head>
<body>
    <h1 class="text-3xl text-orange-600 justify-center flex">Barchart</h1>
    {% block content %}
    {% endblock %}
</body>
</html>